%section.ten-oh-announcement
  .ten-oh-label
    %span 13.4
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 13.4 released with Vault for CI variables and Kubernetes Agent

      .btn-group
        = link_to "/releases/2020/09/22/gitlab-13-4-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
:erb
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "SoftwareApplication",
      "description":"GitLab is a complete DevOps platform, delivered as a single application.",
    "applicationCategory": "DevOps",
    "operatingSystem": "Linux based",
      "name":"GitLab 13.4",
      "releaseNotes":"https://about.gitlab.com/releases/2020/09/22/gitlab-13-4-released/",
      "softwareVersion":"13.4"
  }
  </script>
